{% extends "layout.html.twig" %}

{% block title %}Liste{% endblock %}

{% block header %}
<div class="header">
</div>
{% endblock %}

{% block content %}
<div class="row">
    <p class="title"><strong>Billet simple pour l'Alaska </strong><span class="glyphicon glyphicon-globe"></span></p>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
    {% for article in articles %}
    <article>
        <div class="well">
            <div class="articleTitleCenter">
                <p><span class="glyphicon glyphicon-tags"></span><strong><a class="articleTitle" href="{{ path('article', { 'id': article.id }) }}"> {{ article.title }}</a></strong></p>
            </div>
            <p>{{ article.content|replace({'\n':'<br/>'})|raw }}</p>  
        </div>
    </article>
    {% endfor %}

    </div>
</div>
{% endblock %}
